.wrapper{
    position: relative;
}

.leftNavigation{
    position: absolute;
    left: -10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}

.rightNavigation{
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}



/* .leftNavigation{
    width: 20px;
    height: 20px;
}

.rightNavigation{
    background-color: antiquewhites;
    width: 20px;
    height: 20px;
} */