.wrapper{
    position: relative;
}
/* .swiperWrapper{
    display: flex;
    align-items: center;
} */

.leftNavigation{
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 108;  
}

.rightNavigation{
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}



/* .leftNavigation{
    width: 20px;
    height: 20px;
}

.rightNavigation{
    background-color: antiquewhites;
    width: 20px;
    height: 20px;
} */