:root{
  --color-primary: #34C948;
  --color-black: #121212;
  --color-white: #FFFFFF;
}

/* html{
  display: flex;
  justify-content: center;
  align-items: center;
} */

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,body{
  height: 100%;
}

body{
  font-family: 'Poppins',sans-serif;
  background-color: var(--color-black);
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}